<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Event | by thilina</title>

    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/public/js/filepond.js"></script>

</head>
<body>
    <h1><center><u>Virtual Event</u></center></h1>
    <% if(locals.userType=='systemAdmin'){ %> 
        <%- include('../navBars/ownerNav') %>
    <% } else if(locals.userType=='eventAdmin'){%>  
        <%- include('../navBars/eventAdminNav') %>
    <% } %> 
    <%- body %> 
</body>
</html>