

<form action="/content/<%=locals.content.id%>" method="POST" enctype="multipart/form-data">

tittle
<input type="text" name="tittle" value="<%=locals.content.tittle%>">

description
<textarea name="description" id="" cols="30" rows="10">
    <%=locals.content.description%> 
</textarea>

image
<img src="<%=locals.content.image%>" alt="content image">
<input type="file" name="image">

<button type="submit">Update Content</button>

</form>