


<ul class="nav">
    <li class="nav-item">
        <a href="/stall/<%=stallID%>" class="nav-link">Stall</a>
    </li>
    <li class="nav-item">
        <a href="/content/all/<%=stallID%>" class="nav-link">contents</a>
    </li>
</ul>
<br>


<form action="/content/new/<%=stallID%>" method="POST" enctype="multipart/form-data">

    tittle
    <input type="text" name="tittle" >
    
    description
    <textarea name="description" id="" cols="30" rows="10">
    </textarea>
    
    image
    <input type="file" name="image">
    
    <button type="submit">Add Content</button>
    
    </form>