

<form action="/content/new/<%=stallID%>" method="POST" enctype="multipart/form-data">

    tittle
    <input type="text" name="tittle" >
    
    description
    <textarea name="description" id="" cols="30" rows="10">
    </textarea>
    
    image
    <input type="file" name="image">
    
    <button type="submit">Add Content</button>
    
    </form>