

<form action="/content/<%=locals.content.id%>" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <img src="<%=locals.content.image%>" alt="content image" class="rounded mx-auto d-block" width="300px" height="200px">
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="tittle" value="<%=locals.content.tittle%>" class="form-control">
            </div>
            <div class="form-group">
                <label>New Image</label>
                <input type="file" name="image" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea name="description"  rows="4" class="form-control"><%=locals.content.description%></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Update Content</button>

</form>

