<br>
<center>
    <h4>
        Event Request
    </h4>
</center>
<br><br><hr><br>



<form action="/email/eventRequest" method="POST" >
    <div class="form-group">
        <label>Enter the Event Title</label>
        <input type="text" class="form-control"  name="name" placeholder="Enter a name for the event" required>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label>How many Stalls are you planing to use?</label>
            <input type="number" class="form-control"  name="stalls" min="1" max="20" placeholder="Enter number of stalls" required>
        </div>
        <div class="col-md-4 form-group">
            <label>How many Advertising Spaces are you planing to use?</label>
            <input type="number" class="form-control"  name="ads" placeholder="Enter number of ads" required>
        </div>
        <div class="col-md-4 form-group">
            <label>How long are you planing to have the Event for?</label>
            <input type="number" class="form-control"  name="duration" min="1" placeholder="Enter the Event duration (Days)" required>
        </div>
    </div>
    <div class="form-group">
        <label >Explain little bit about your Event..</label>
        <textarea class="form-control" rows="8" name="description" required></textarea>
        <small  class="form-text text-muted">once your event get aproved, we will email you..</small>
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Send Request</button>
    </div>
    
</form>