this is exhibitor dashboard
<br><hr>
<h3>stalls</h3>
<br>
<% stalls.forEach(stall=>{%>
    <%=stall.name %>
    <br> 
<% }) %>

<br><hr>
<h3>adds</h3>
<br>
<% adds.forEach(add=>{%>
    <%=add.headline %>
    <br> 
<% }) %> 