event settings<br>
<hr>
<a href="/event/<%=locals.event._id%>">dashboard</a>
<a href="/exhibitor/all/<%=locals.event._id%>">exhibitors</a>
<a href="/stall/all/<%=locals.event._id%>">stalls</a>
<a href="/advertise/all/<%=locals.event._id%>">advertises</a>