
<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Virtual Event</a>
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/eventadmin" class="nav-link px-2 text-white">Dashboard</a></li>
      <li><a href="/eventadmin/account" class="nav-link px-2 text-white">Account</a></li>
    </ul>
    <div class="text-end">
      <form action="/logout/eventadmin" method="POST">
        <button type="submit" class="btn btn-danger">LogOut</button>
      </form>
    </div>
  </div>
</nav>

<% if(locals.event){ %> 
  <%- include('../navBars/eventNav') %>
<% } %> 