

<% if(ads){%>
    <table class="table table-sm table-dark">
        <thead>
          <tr>
            <th scope="col">Headline</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <% ads.forEach(ad=>{%>
                <tr>
                    <td>
                        <%=ad.headline%>
                    </td>
                    <td>
                        <%=ad.description%>
                    </td>
                    <td>
                        <form action="/advertise/remove/<%=ad.id%>" method="POST">
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
            <%}) %>   
        </tbody>
      </table>
<%}%> 


