exhibitors page
<br>
<div>
    <a href="/exhibitor/add/<%=locals.event._id%>">add new exhibitor</a>  
    <br>
    <form action=""></form>
</div>
<hr>

<% if(exhibitors){%>
        <table class="table table-sm table-dark">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Stall 1 Package</th>
                <th scope="col">Stall 2 Package</th>
                <th scope="col">Stall 3 Package</th>
                <th scope="col">Advertising Space</th>
              </tr>
            </thead>
            <tbody>
                <% exhibitors.forEach(exhibitor=>{%>
                    <tr>
                        <td>
                            <%=exhibitor.name%> - <%=exhibitor.address%>
                        </td>
                        <td>
                           <a href="#">ADD</a> 
                        </td>
                        <td>
                            <a href="#">ADD</a>
                        </td>
                        <td>
                            <a href="#">ADD</a>
                        </td>
                        <td>
                            <a href="#">ADD</a>
                        </td>
                    </tr>
                <%}) %>   
            </tbody>
          </table>
<%}%> 


