event admins are here
<br>


<% eventAdmins.forEach(eventAdmin=>{%>
    <div>
        <%=eventAdmin.name%>
        <a href="/event/new/<%=eventAdmin.id%>">add event</a>
        <%=eventAdmin.id%>
        <br> 
    </div>
<%}) %> 


