<br>
<center>
    <h3>EVENTS ADMINS</h3>
</center>
<br>
<hr>




<table class="table table-sm table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <% eventAdmins.forEach(eventAdmin=>{%>
            <tr>
                <td>
                    <%=eventAdmin.name%>
                </td>
                <td>
                    <%=eventAdmin.address%>
                </td>
                <td>
                    <form action="/event/new/<%=eventAdmin.id%>" method="GET">
                    <button type="submit" class="btn btn-info"> Add Event</button>
                    </form>
                </td>
            </tr>
        <%}) %>   
    </tbody>
  </table>