add new event admin from here

<form action="/eventadmin/new" method="POST" required>
name: <input type="text" name="name" required>
address: <input type="text" name="address" required>
email: <input type="text" name="email" required>
mobile: <input type="text" name="mobile" required>
<button type="submit">add</button>
</form>
